.navbar {
  background-color: black;
  color: white;
  padding: 10px;
  margin-bottom: 20px;
  text-align: center;
  padding-left: 20px;
}

.search {
  margin-right: auto;
  margin-left: 20px;
}

.navbar ul {
  list-style-type: none;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.navbar li {
  margin-right: 20px;
}

.navbar a {
  color: white;
  text-decoration: none;
}

.navbar a.active {
  font-weight: bold;
}
