.container {
  font-family: Arial, sans-serif;
  padding: 20px;
}

.button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
  border-radius: 5px;
  text-transform: uppercase;
}
.participant-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 150%;
  padding: 20px;
}

.participant-info {
  position: absolute;
  top: -10%;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.7);
  padding: 10px;
  border-radius: 5px;
}

.participant {
  margin-top: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
}

.controls {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.chat {
  margin-top: 20px;
}

.p {
  font-weight: 700;
}

.message-box {
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  max-width: 600px;
}

.message-header {
  font-weight: bold;
  margin-bottom: 10px;
}

.message-list {
  max-height: 200px;
  overflow-y: auto;
}

.message {
  margin-bottom: 5px;
}

.sender {
  font-weight: bold;
}

.message-input {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-right: 5px;
}

.send-button {
  padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.send-button:hover {
  background-color: #0056b3;
}
