.container {
  font-family: Arial, sans-serif;
  padding: 20px;
}

.button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
  border-radius: 5px;
  text-transform: uppercase;
}
.participant-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
  padding: 20px; /* Add padding */
}

.participant-info {
  position: absolute;
  top: -20%;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.7);
  padding: 10px;
  border-radius: 5px;
}

.participant {
  margin-top: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
}

.controls {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.chat {
  margin-top: 20px;
}

.p {
  font-weight: 700;
}
