.container {
  font-family: Arial, sans-serif;
  padding: 20px;
}

.button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
  border-radius: 5px;
  text-transform: uppercase;
}
.participant-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 150%;
  padding: 20px;
}

.participant-info {
  position: absolute;
  top: -1%;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.7);
  padding: 10px;
  border-radius: 5px;
}

.participant {
  margin-top: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
}

.controls {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.chat {
  margin-top: 20px;
}

.p {
  font-weight: 700;
}

/* .button-options {
  display: flex;
  flex-direction: column-reverse;
} */

.chat-and-stream {
  width: 120%;
  height: 120%;
}

.chat-and-stream video {
  width: 120% !important;
  height: 120% !important;
  margin-top: 20px !important;
}

.meeting-container {
  display: flex;
}

.video-container {
  flex: 1;
  margin-right: 20px;
}

.chat-container {
  flex: 1;
}

.message-box {
  height: 100%;
  border: 1px solid #ccc;
  padding: 10px;
  box-sizing: border-box;
  overflow-y: auto;
}

.input-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}

.message-input {
  flex: 1;
  margin-right: 10px;
  padding: 5px;
}

.send-button {
  padding: 5px 10px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

.message-list {
  max-height: 80%;
  overflow-y: auto;
}

.message {
  margin-bottom: 10px;
}

.message-header {
  font-weight: bold;
  margin-bottom: 5px;
}

.sender {
  font-weight: bold;
}

.message-text {
  margin-left: 5px;
}

.sale-items-button-container {
  position: absolute;
  top: 0;
  right: 0;
  margin: 20px;
}

.sale-items-button {
  background-color: #007bff;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 5px;
  margin-top: 120px;
}

.sale-items-button:hover {
  background-color: #007bff;
}

@media (max-width: 768px) {
  .participant-container {
    flex-direction: column;
    align-items: stretch;
    height: auto;
  }

  .participant-info {
    position: static;
    transform: none;
    width: 100%;
    margin-bottom: 10px;
  }

  .chat-and-stream {
    width: 100%;
    height: auto;
    margin-top: 20px;
  }

  .chat-and-stream video {
    width: 100% !important;
    height: auto !important;
  }
}
