.profilePage {
  background-color: #2b2e38;
  height: 40vh;
  width: 90%;
  border-radius: 5px;
  margin: 0 auto;
  margin-top: 50px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.profileHeaders {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.profileHeaders h3 {
  cursor: pointer;
  width: 45%;
  border-radius: 5px;
  text-align: center;
}

.infoSection {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 50%;
  min-height: 250px;
}

.profileInfo {
  display: flex;
  width: 50%;
  justify-content: space-between;
}

.profileInfo input {
  width: 165px;
  align-self: center;
}

.profileInfo img {
  border-radius: 5px;
  width: 50px;
  height: 50px;
}

.separatorLine {
  width: 90%;
  margin: 0 auto;
  border: 1px solid #008080;
}

.applySection {
  text-decoration: none;
  color: #008080;
  margin: 0 auto;
  height: 30%;
  display: flex;
  align-items: center;
}

.applySection h3 {
  cursor: pointer;
  padding: 15px;
  border-radius: 5px;
}

.applySection h3:hover {
  background-color: #000000;
  color: #008080;
  box-shadow: 0 8px 24px 0 rgba(16, 39, 112, 0.2);
}

.livestream {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  top: 59%;
  right: 0;
  transform: translateY(-50%);
  margin-right: 80px;
  margin-left: -25px;
  max-width: 57px;
}

.orderHistory {
  text-align: center;
  min-height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
