.home {
  padding: 20px;
}

.live-now-container,
.upcoming-lives-container {
  text-align: center;
  margin-bottom: 20px;
  position: relative;
}

.live-now-container::before,
.live-now-container::after,
.upcoming-lives-container::before,
.upcoming-lives-container::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 45%;
  height: 1px;
  background-color: #008080; /* Teal color */
}

.live-now-container::before,
.upcoming-lives-container::before {
  left: 0;
  transform: translateY(-50%);
}

.live-now-container::after,
.upcoming-lives-container::after {
  right: 0;
  transform: translateY(-50%);
}

.live-now,
.upcoming-lives {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card1,
.card2,
.card3 {
  margin: 10px;
  padding: 0;
  width: 200px;
  height: 200px;
  border: none;
}

.card1 {
  background-image: url("client/src/logo.jpg.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.card2 {
  background-image: url("client/src/danfieldbreakslogo.webp");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.card3 {
  background-image: url("client/src/Grandinettelogo.webp");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

@media (max-width: 768px) {
  .card {
    flex: 0 0 calc(50% - 20px);
  }
}

@media (max-width: 480px) {
  .card {
    flex: 0 0 100%;
  }
}
